{
  "bracketSameLine": true,
  "bracketSpacing": true,

  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",

  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "requirePragma": false,
  "insertPragma": false
}
